/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*
///////////////////////////////////////////////////////////////////////////////////
TODO: 1) header-text size 2) reorganise variables 3) buttons position in light theme.
///////////////////////////////////////////////////////////////////////////////////
*/

.body {
  min-height: 100vh;
}

.header {
  position: relative;
  display: grid;
  padding-block: 10px;
  padding-inline: 10px;
  /* block-size: max(668px, 100vh); */
  min-height: 100vh;
}

.decorated-zone {
  /* padding: var(--decorated-zone-padding); */
  /* outline: 1px solid var(--small-header-text-color); */
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--small-header-text-color);
  border-left: 1px solid var(--small-header-text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--small-header-text-color);
  border-right: 1px solid var(--small-header-text-color);
}

/* .header__decorative-element_top-right {
  justify-self: end;
  display: flex;
  flex-direction: row;
  //border: 1px solid var(--small-header-text-color);
  //border-bottom: none;
  //border-left: none;
}

.header__decorative-element_top-right::after {
  content: "";
  border-radius: 50%;
  background-color: var(--title-decor-back-color);
  width: 9px;
  height: 9px;
  align-self: center;
  margin: 0 9px 0 10px;
}

.header__decorative-element-text {
  text-transform: uppercase;
  color: var(--small-header-text-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
} */

.empty-tag {
  position: relative;
}

.empty-tag::before {
  content: "rec";
  position: absolute;
  color: var(--small-header-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  right: 28px;
  text-transform: uppercase;
}

.empty-tag::after {
  content: "";
  position: absolute;
  color: var(--small-header-text-color);
  width: 9px;
  height: 9px;
  background-color: var(--small-header-text-color);
  border: 1px solid var(--small-header-text-color);
  border-radius: 90%;
  right: 9px;
  top: 8px;
}

.header__theme-menu {
  justify-self: end;
  margin-top: 5.83vh;
}

.header__theme-menu-list {
  margin-right: 13px;
}

.header__theme-menu-item {
  margin-top: 1.95vh;
}

.header__theme-menu-item:first-child {
  margin-top: 0;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  min-height: 26px;
  color: var(--small-header-text-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--small-header-text-color);
}

.header__tagline {
  margin-top: 9.73vh;
}

.header__tagline-text {
  font-size: var(--tagline-text-size);
  color: var(--tagline-text-color);
  text-shadow: 4px 4px 0 var(--title-decor-back-color);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__title {
  margin-top: 8.23vh;
  margin-bottom: 9.88vh;
  /* width: 100vw; */
  justify-self: end;
}

.title-decor {
  background-color: var(--title-decor-back-color);
  color: var(--title-decor-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor-small-font-weight {
  font-weight: 400;
  margin-top: 20px;
}

.header__title-text {

}

.main {
  padding-inline: 10px;
  padding-block: 40px;
  /* display: flex; */
}

.section {
  display: grid;
  grid-template-columns: 1;
  gap: 20px;
}

.section {
  margin-top: 40px;
}

.section:not(:first-child) {
  margin-top: 50px;
}

.section__title {
  color: var(--small-header-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.section__body {
  display: grid;
  gap: 20px;
}

.section__body-text {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-top: 10px;
}

.link {
  color: var(--text-color);
  text-shadow: 1px 1px 0 var(--tagline-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.page {
  background-color: var(--background-color);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* padding: 10px; */
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.image-section {
  gap: 10px;
}

/* .image-section img {
  width: calc(100vw - 20px);
} */

.image-section__block-card:not(:first-child) {
  margin-top: 10px;
}

.image-section__block-card img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  /* block-size: max(668px, 100vh); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* margin-block-start: 40px; */
}

.footer__tagline-text {
  font-size: var(--tagline-text-size);
  color: var(--tagline-text-color);
  text-shadow: 2px 2px 0 var(--title-decor-back-color);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (min-width: 768px) {

  /* .page {
    padding: 20px;
  } */

  .header {
    /* block-size: max(1024px, 100vh); */
    padding-block: 20px;
    padding-inline: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
  
  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .block-paragraph-position {
    display: grid;
    grid-template-columns: 30.75vw 1fr;
    gap: 20px;
  }
  
  .header__title {
    width: 50vw;
  }

  .main {
    padding-inline: 20px;
    padding-block: 60px;
  }

  .image-section {
    gap: 20px;
  }

  .image-section__block {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 20px; */
  }

  .image-section__block-card:not(:first-child) {
    margin-top: 0;
  }

  .image-section__block-card img {
    margin: 0;
  }

  .image-section__block-card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .image-section__block-card:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }
  
  .image-section__block-card:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  
  .image-section__block-card:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .image-section__block-card:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .image-section__block-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    /* block-size: max(1024px, 100vh); */
    /* margin-block-start: 60px; */
    padding: 20px;
  }
}

@media (min-width: 1024px) {

  /* :root {
    --page-padding: 20px;
  } */

  /* .header {
    block-size: max(768px, 100vh);
  } */

  .header__theme-menu {
    margin-top: 0;
    justify-self: center;
    /* align-self: center;
    display: flex;
    flex-direction: row; */
    /* display: grid; */
    /* align-items: start; */
    /* justify-items: flex-start; */
    /* gap: 36px; */
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin-right: initial;
  }

  .header__theme-menu-item {
    margin-top: 0;
}

  .inline-paragraph-position {
    display: block;
    gap: 20px;
  }

  .inline-paragraph-position .section__title {
    width: 30.75vw;
  }

  .inline-paragraph-position .section__body {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .footer {
    block-size: max(768px, 100vh);
    min-height: 100vh;
  } */
}
