/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --small-header-text-color: #FF0070;
  --title-decor-text-color: #000028;
  --title-decor-back-color: #FF0070;
  --button-hover-border-color: #FF0070;
  --cover-image: url(../images/cover-image-dark.png);
  --tagline-text-color: #DB00FF;
  --tagline-text-size: 116px;
}
